h1 {
    text-align: center;
}
Header {
    background-color: #8C9C64;
}

.buttons {
    margin: auto;
    text-align: right;
}
p {
    width: 50%;

}
.tour {
    width: 50%;
    text-align: right;
}

footer {
    background-color: #8C9C64;
}
h3 {
    color:;
    text-align: center;
}
.copy {
    text-align: right;
}